*{
    font-family: 'Roboto Slab', serif;
}

#product{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100vw;
}

#product .heading{
    color: #4834D4;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    margin: 2rem 0;
    position: relative;
}

#product .heading::after{
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: .3rem;
    width: 60%;
    background: #EB4D4B;
}

#product .product-container{
    width: 90%;
}

#product .product-container .owl-nav .owl-next, #product .product-container .owl-nav .owl-prev{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #EB4D4B;
    font-size: 6rem;
    background: none;
    border: none;
    outline: none;
}

#product .product-container .owl-nav .owl-next{
    right: 1rem;
}

#product .product-container .owl-nav .owl-prev{
    left: 1rem;
}

#product .product-container .title{
    font-size: 3rem;
    color: #EB4D4B;
    margin-top: 5rem;
    margin-left: 6rem;
}

#product .product-container .product-slider .product-card{
    height: 40rem;
    width: 30rem;
    margin: 2rem auto;
    -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    position: relative;
}

