@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
.box{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    padding: 50px;
    text-align: center;
    max-width: 100%;
} 
.box  h2{
    margin: 10px 0 0;
}
.box p{
    font-weight: bold;
}
.box img{
    width: 100px;
    max-width: 100%;
}
.form-control{
    position: relative;
    margin: 30px 0 30px;
}
.input{
    border: 0;
    border-radius: 50px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    font-family: inherit;
    height: 44px;
    padding: 12px 12px;
    width: 100%;
}
.btn{
    background-color: rgb(9, 9, 95);
    border: 0;
    border-radius: 50px;
    color: #fff;
    height: 33px;
    margin-top: 10px;
}
.input:focus, .btn:focus{
    outline: 0;
}