*{
    font-family: 'Roboto Slab', serif;
}

#product{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100vw;
}

#product .heading{
    color: #4834D4;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    margin: 2rem 0;
    position: relative;
}

#product .heading::after{
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: .3rem;
    width: 60%;
    background: #EB4D4B;
}

#product .product-container{
    width: 90%;
}

