*{
    font-family: 'Roboto Slab', serif;
}
 
 .heading{
     text-align: center;
     text-transform: uppercase;
     font-size: 4rem;
     color: blue;
     padding: 1rem;
 }
 .heading{
     font-size: 3rem;
 }

 .heading span{
    text-transform: uppercase;
    font-size: 4rem;
    color:yellow;

 }

 .products .box-container{
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
 }

 .products .box-container .box{
     border: .1rem solid rgba(0,0,0,.1);
     border-radius: .5rem;
     text-align: center;
     position: relative;
     overflow:hidden;
     background-color: cornsilk ;
     flex: 1 1 30rem;
 }

 .products .box-container .box .content{
     padding: 1.5rem;
 }
 
 .products .box-container .box .icons{
     display: flex;
     flex-flow: column;
     position: absolute;
     top: .5rem; left: 1rem;
 }
 
 .products .box-container .box .icons a{
     height: 4.5rem;
     width: 5rem;
     line-height: 4.5rem;
     font-size: 2rem;
     color: black;
     border: .1rem solid black;
     border-radius: 5rem;
     background: .5rem;
     background: #fff;
     margin-top: .5rem;
 }

 .products .box-container .box .icons{
     left:1rem
 }
 .products .box-container .box .icons a:hover{
     background: orange;
     color: #fff;
}
.products .box-container .box .content h3{
    color: black;
    font-size: 1rem;
}

.products .box-container .box .content .price{  
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 1rem 0;
}

.products .box-container .box .content .price span{  
    color:orange;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.products .box-container .box .content .stars {
padding-bottom: 2rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: orange;
}

*{font-family: 'Robo Slab', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;

}

:root{
    --black: #2c2c54;
    --orange: #ff9f1a;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    font-weight: bolder;
    font-size: 1.7rem;
    color: var(--black);
    cursor: pointer;
    background: #fff;
    padding: .8rem 3rem;

}
.btn:hover{
    background: var(--orange);
    color: #fff;
}



header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 2.5rem;
    color:var(--black);
}

header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}
header .navbar a:hover{
    color: var(--orange);
}
 
header .icons a{
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--orange);
}
 
#menu-bar{
    font-size: 2.5rem;
    padding: 1.5rem 1.5rem;
    border: .1rem solid var(--black);
    color: var(--black);
    border-radius: .3rem;
    cursor: pointer;
    display: none;
}

.home{
    padding: 0;
    position: relative;
}

.home .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 9%;
    padding-top: 9rem;
}

.home .slide-container .slide .content{
    flex: 1 1 40rem;
    animation: slideContent .5s linear 1s backwards;
}
@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
}
.home .slide-container .slide .image{
    flex: 1 1 50rem;
    padding-bottom: 15rem;
    position:relative;
    z-index: 0;

}

.home .slide-container .slide .image.shoe{
    width: 100%;}
   
   




 .home .slide-container .slide .content span{
     font-size: 2rem;
     color: var(--orange);
}

.home .slide-container .slide .content h3{
    font-size: 5rem;
    color: var(--black);
}
.home .slide-container .slide .content p{
    font-size: 1.7rem;
    color: #666;
    padding:5rem 0;

}

  .home .slide-container{
      display: none;
  }

  .home .slide-container.active{
      display: block;
  }


.home #prev,
.home #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 100;
    height: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--black);
    border: .2rem solid var(--black);
    cursor: pointer;
    text-align: center;
}
.home #prev:hover,
.home #next:hover {
    color: #fff;
    background: var(--orange);
}

.home #prev{
    left: 3rem;
}
.home #next{
    right: 3rem;
}




































@media (max-width:768px){

    #menu-bar{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:-120% ;
        width: 100%;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
    }

    header .navbar{
        
    left: 0;
    }


    header .navbar a{
        font-size: 2rem;
        background: #fff;
        border: 0.1rem solid var(--black);
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem;
        display: block;
        text-align: center;

    }

}



.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow:hidden;
    padding: 0 20px;
} 

.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial{
    background: #fff;
    padding: 30px;
}

.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars{
    color: #6ab04c;
    margin-bottom: 20px;
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .col{
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px){
    .col{
        flex: 100%;
        max-width: 100%;
    }
}